<div class="row">
  <div class="col-md-6">

    <div class="kt-portlet kt-portlet--tabs">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <%= @carrier.display_name %>
            <small>Configurações</small>
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <ul class="nav nav-tabs nav-tabs-bold nav-tabs-line nav-tabs-line-brand" role="tablist">
            <% @accounts.each do |account| %>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_<%= account.id %>_content" role="tab">
                <%= account.name %>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="tab-content">

          <% @accounts.each do |account| %>
          <div class="tab-pane" id="kt_portlet_tabs_1_<%= account.id %>_content" role="tabpanel">

            <% settings = account.send(@carrier.settings_field) %>
            <%= form_for :settings, url: "/accounts/#{account.id}/update_carrier_settings" do |f| %>
            <%= hidden_field_tag 'carrier_id', @carrier.id %>
            <div class="row">
              <% @carrier.settings.each do |setting| %>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label setting %>
                  <%= f.text_field setting, value: settings[setting], class:'form-control' %>
                </div>
              </div>
              <% end %>
            </div>

            <hr>

            <div class="form-group">
              <label>Métodos de envio disponíveis:</label>
              <%= fields_for :selected_shipping_methods do |ff| %>
              <% @carrier.shipping_methods.each do |shipping_method,value| %>
              <div>
                <%= ff.check_box shipping_method, { checked: settings["selected_shipping_methods"][shipping_method.to_s] == '1' } %>
                <%= ff.label shipping_method %>
              </div>
              <% end %>
              <% end %>
            </div>
            <!-- settings["selected_shipping_methods"][shipping_method.to_s] == '1' -->

            <div class="kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                  <%= f.submit "Salvar", class:"btn btn-primary" %>
                  <%= link_to 'Voltar', :back, class:"btn btn-secondary"  %>
                </div>
              </div>
            </div>
            <% end %>

          </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
<script>
$('.nav-link').first().addClass('active');
$('.tab-pane').first().addClass('active');
</script>
