<% content_for :subheader_title do %>
Visão geral
<% end %>

<% content_for :subheader_toolbar do %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">

      <div class="kt-portlet__body">
        <%= form_with(url: dashboard_path, method: "get", local: true) do  %>
        <div class="row">
          <div class="col-md-3">
            <label>Busca rápida:</label>
            <div class="kt-input-icon kt-input-icon--left">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Pedido, envio, nome, CPF, cidade..." %>
              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                <span><i class="la la-search"></i></span>
              </span>
            </div>
          </div>

          <div class="col-md-2">
            <label>Transportadora</label>
            <%= select_tag(:carrier, options_for_select(carriers_for_select.prepend(['Todas',nil]), selected: params[:carrier]), class:"form-control selectpicker") %>
          </div>

          <div class="col-md-2">
            <label>Status</label>
            <%= select_tag(:status, options_for_select(shipment_statuses_for_select.prepend(['Todos',nil]), selected: params[:status]), class:"form-control selectpicker") %>
          </div>

          <div class="col-md-2">
            <label>Atraso</label>
            <%= select_tag(:late, options_for_select(late_statuses_for_select.prepend(['Nenhum',nil]), selected: params[:late]), class:"form-control selectpicker") %>
          </div>

          <div class="col-md-2">
            <label>Período de envio</label>
            <div class="input-group" id="kt_daterangepicker_2">
              <%= text_field_tag :date_range, params[:date_range], class:"form-control" %>
              <div class="input-group-append">
                <span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-1">
            <label>&nbsp;</label>
            <%= submit_tag 'Filtrar', name:nil, class:'form-control btn btn-default' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="col-md-8">
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envios por estado
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="kt_portlet_tabs_1111_1_content" role="tabpanel">
            <div class="kt-widget-11">
              <div id="regions_div" style="width: 100%; height: 500px;" data-chart = "<%= @shipments_by_state %>"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envios por status
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="kt_portlet_tabs_1111_1_content" role="tabpanel">
            <div class="kt-widget-11">
              <% @shipments_per_status.each do |line| %>
              <div class="kt-widget-11__item">
                <a href="<%= shipments_path(params_builder(params, {status: line[0]})) %>">
                  <div class="kt-widget-11__wrapper">
                    <div class="kt-widget-11__title">
                      <%= t(line[0]) %>
                    </div>
                    <div class="kt-widget-11__value">
                      <%= line[1] %>
                    </div>
                  </div>
                </a>
                <div class="kt-widget-11__progress">
                  <div class="progress">
                    <!-- Doc: A bootstrap progress bar can be used to show a user how far along it's in a process, see https://getbootstrap.com/docs/4.1/components/progress/ -->
                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= line[2] %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="pt-3">
                <table class="table table-borderless table-sm table-hover pt-5" style="color: #646c9a;">
                  <tbody>
                    <tr>
                      <th>Transportadora</th>
                      <td><%= @average_carrier_delivery_days_used %> dias</td>
                    </tr>
                    <tr>
                      <th>Tempo total de entrega</th>
                      <td><%= @average_client_delivery_days_used %> dias</td>
                    </tr>
                    <tr>
                      <th>SLA</th>
                      <td><%= @average_sla %> dias</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="col-md-3">
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Envios por transportadora</h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__content">
            <div id="carriersPieChart" style="width: 100%; height: 300px;" data-chart="<%= @carriers_pie_chart_data %>"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Envios por modalidade</h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__content">
            <div id="shippingMethodsPieChart" style="width: 100%; height: 300px;" data-chart="<%= @shipping_method_pie_chart_data %>"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Atenção necessária</h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__content">
            <% if @late_shipments.count > 0 %>
            <table class="table table-head-noborder">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Transportadora</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @late_shipments.each do |shipment| %>
                <tr>
                  <td><%= link_to shipment.full_name, shipment %></td>
                  <td><%= shipment.carrier.name %></td>
                  <td><%= status_label(shipment.status) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
            Não existem envios atrasados ou com problemas
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawCarriersPieChart);
  google.charts.setOnLoadCallback(drawShippingMethodsPieChart);

  function drawCarriersPieChart() {
    var element = document.getElementById('carriersPieChart')
    var data_arr = JSON.parse(element.dataset.chart)
    var data = google.visualization.arrayToDataTable(data_arr);
    var options = {
      legend: 'none',
      pieSliceText: 'label',
      chartArea: {width: '80%', height: '80%'},
      colors:['#3D4465','#767C97', "#AFB4C8", "#E8ECFA"],
    };
    var chart = new google.visualization.PieChart(element);
    chart.draw(data, options);
  }

  function drawShippingMethodsPieChart() {
    var element = document.getElementById('shippingMethodsPieChart')
    var data_arr = JSON.parse(element.dataset.chart)
    var data = google.visualization.arrayToDataTable(data_arr);
    var options = {
      legend: 'none',
      pieSliceText: 'label',
      chartArea: {width: '80%', height: '80%'},
      colors:['#3D4465','#767C97', "#AFB4C8", "#E8ECFA"],
    };
    var chart = new google.visualization.PieChart(element);
    chart.draw(data, options);
  }

</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages':['geochart'],
    // Note: you will need to get a mapsApiKey for your project.
    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {
    var element = document.getElementById('regions_div')
    var data_arr = JSON.parse(element.dataset.chart)
    var data = google.visualization.arrayToDataTable(data_arr);
    var options = {
      region: 'BR',
      displayMode: 'regions',
      resolution: 'provinces',
      colorAxis: {minValue: 0,  colors: ['#e8ecfa', '#646c9a']}
    };
    var chart = new google.visualization.GeoChart(element);
    chart.draw(data, options);
  }

  $(document).ready(function() {
    $('#kt_daterangepicker_2').daterangepicker({
      startDate: moment().subtract(29, 'days'),
      endDate: moment(),
      ranges: {
        'Hoje': [moment(), moment()],
        'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Ultimos 30 Days': [moment().subtract(29, 'days'), moment()],
      },
      locale: { customRangeLabel: 'Personalizado' },
      opens: 'left',
      buttonClasses: 'btn btn-sm',
      applyClass: 'btn-primary',
      cancelClass: 'btn-secondary'
    }, function(start, end, label) {
      $('#kt_daterangepicker_2 .form-control').val( start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
    });
  });

  $(document).on('turbolinks:load', function () {
    $('.selectpicker').each(function (i, el) {
      if (!$(el).parent().hasClass('bootstrap-select')) {
        $(el).selectpicker('refresh');
      }
    });
  });

</script>
