<% content_for :subheader_title do %>
Visão geral
<% end %>

<% content_for :subheader_toolbar do %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <%= render "shared/shipment_search_bar" %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render "map" %>
  </div>
  <div class="col-md-4">
    <%= render "shipments_by_status" %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render "days_until_delivery" %>
  </div>
  <div class="col-md-3">
    <%= render "shipments_per_carrier" %>
  </div>
  <div class="col-md-3">
    <%= render "shipments_per_method" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render "attention_required" %>
  </div>
</div>


<!-- Loads Google Charts for all charts in partials above -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Avoids Turboliks bug where JS select only works after reloading -->
<!-- REFACTOR > Maybe there is a better solution? -->
<script type="text/javascript">
  $(document).on('turbolinks:load', function () {
    $('.selectpicker').each(function (i, el) {
      if (!$(el).parent().hasClass('bootstrap-select')) {
        $(el).selectpicker('refresh');
      }
    });
  });
</script>
