<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
  <div class="col-md-6">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Novo usuário
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Nome</label>
                <%= form.text_field :first_name, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Sobrenome</label>
                <%= form.text_field :last_name, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Email</label>
                <%= form.text_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Senha</label>
                <%= form.text_field :password, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= form.submit "Salvar", class:"btn btn-primary" %>
    <%= link_to 'Voltar', :settings, class:"btn btn-secondary", style: "background-color:#ffffff"  %>
  </div>
</div>
<% end %>
