<%= content_for :subheader_title do %>
  Configurações
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Contas
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-wrapper">
            <%= link_to new_account_path, class: "btn btn-brand btn-bold btn-upper btn-font-sm" do %>
            <i class="la la-plus"></i>
            Nova conta
            <% end %>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <% Account.all.each do |account| %>
          <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
            <tbody>
              <tr>
                <td><%= account.name %></td>
                <td class="text-right">
                  <%= link_to edit_account_path(account), class:"btn btn-sm btn-clean btn-icon btn-icon-sm" do %>
                    <i class="la la-edit"></i>
                  <% end %>
                  <%= link_to account, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-sm btn-clean btn-icon btn-icon-sm" do %>
                    <i class="la la-trash"></i>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
