<%= content_for :subheader_title do %>
  Configurações
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Configurações
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="form-group form-group-last">
            <div class="alert alert-secondary" role="alert">
              <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
              <div class="alert-text">
                A chave da API é secreta. Com ela, outras pessoas poderão acessar os seus dados. Guarde-a em segurança.
              </div>
            </div>
          </div>
          <div class="form-group ">
            <label>Chave da API</label>
            <div class="input-group">
              <input type="text" class="form-control" disabled="disabled" value="<%= @api_key %>">
              <div class="input-group-append">
                <%= button_to 'Gerar nova chave', settings_update_api_key_path, class: "btn btn-secondary ml-4", :method=>:post  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Contas
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-wrapper">
            <%= link_to new_account_path, class: "btn btn-default btn-bold btn-upper btn-font-sm" do %>
            <i class="la la-plus"></i>
            Nova conta
            <% end %>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
            <tbody>
              <% @accounts.all.each do |account| %>
              <tr>
                <td><%= account.name %></td>
                <td class="text-right">
                  <%= link_to edit_account_path(account), class:"btn btn-sm btn-clean btn-icon btn-icon-sm" do %>
                    <i class="la la-edit"></i>
                  <% end %>
                  <%= link_to account, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-sm btn-clean btn-icon btn-icon-sm" do %>
                    <i class="la la-trash"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
