<div class="row">
  <div class="col-xl-6">

    <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
      <tbody>
        <tr>
          <th style="width:150px">Nome</th>
          <td><%= account.name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= account.email %></td>
        </tr>
        <tr>
          <th>Telefone</th>
          <td><%= account.phone %></td>
        </tr>
        <tr>
          <th>CNPJ</th>
          <td><%= account.cnpj %></td>
        </tr>
        <tr>
          <th>Rua</th>
          <td><%= account.street %></td>
        </tr>
        <tr>
          <th>Número</th>
          <td><%= account.number %></td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="col-xl-6">
    <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
      <tbody>

        <tr>
          <th style="width:150px">Complemento</th>
          <td><%= account.complement %></td>
        </tr>
        <tr>
          <th>Bairro</th>
          <td><%= account.neighborhood %></td>
        </tr>
        <tr>
          <th>Cep</th>
          <td><%= account.zip %></td>
        </tr>
        <tr>
          <th>Cidade</th>
          <td><%= account.city %></td>
        </tr>
        <tr>
          <th>Estado</th>
          <td><%= account.state %></td>
        </tr>
        <tr>
          <th>País</th>
          <td><%= account.country %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
