<!-- <p>
<strong>Nome:</strong><%= @shipment.recipient_first_name %><br>
<strong>Sobrenome:</strong><%= @shipment.recipient_last_name %><br>
<strong>Email:</strong><%= @shipment.recipient_email %><br>
<strong>Telefone:</strong><%= @shipment.recipient_phone%><br>
<strong>CPF:</strong><%= @shipment.recipient_cpf%><br>
<strong>Rua:</strong><%= @shipment.recipient_street%><br>
<strong>Número:</strong><%= @shipment.recipient_number%><br>
<strong>Complemento:</strong><%= @shipment.recipient_complement%><br>
<strong>Bairro:</strong><%= @shipment.recipient_neighborhood%><br>
<strong>Cep:</strong><%= @shipment.recipient_cep%><br>
<strong>Cidade:</strong><%= @shipment.recipient_city%><br>
<strong>Estado:</strong><%= @shipment.recipient_state%><br>
</p> -->

<table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
  <tbody>
    <tr>
      <th style="width:30%">Nome:</th>
      <td><%= @shipment.recipient_first_name %></td>
    </tr>
    <tr>
      <th>Sobrenome:</th>
      <td><%= @shipment.recipient_last_name %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= @shipment.recipient_email %></td>
    </tr>
    <tr>
      <th>Telefone:</th>
      <td><%= @shipment.recipient_phone%></td>
    </tr>
    <tr>
      <th>CPF:</th>
      <td><%= @shipment.recipient_cpf%></td>
    </tr>
    <tr>
      <th>Rua:</th>
      <td><%= @shipment.recipient_street%></td>
    </tr>
    <tr>
      <th>Número:</th>
      <td><%= @shipment.recipient_number%></td>
    </tr>
    <tr>
      <th>Complemento:</th>
      <td><%= @shipment.recipient_complement%></td>
    </tr>
    <tr>
      <th>Bairro:</th>
      <td><%= @shipment.recipient_neighborhood%></td>
    </tr>
    <tr>
      <th>Cep:</th>
      <td><%= @shipment.recipient_cep%></td>
    </tr>
    <tr>
      <th>Cidade:</th>
      <td><%= @shipment.recipient_city%></td>
    </tr>
    <tr>
      <th>Estado:</th>
      <td><%= @shipment.recipient_state%></td>
    </tr>
  </tbody>
</table>
