<% require 'barby/barcode/data_matrix' %>
<% shipment = package.shipment %>
<% carrier = shipment.carrier %>
<% total_packages = shipment.packages.size %>
<style>
body {  margin: 0 }
.label {
  font-size: 18px;
  font-family: helvetica;
  padding: 25px;
  line-height: 1.3;
}
.address {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.mt20 {
  margin-top: 20px;
}
.package {
  text-align: right;
}
.sender-address li {
  font-size: 17px;
}
h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}
.float-left {
  float:left;
}
.float-right {
  float:right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<div class="label">

  <div class="clearfix">


  </div>

  <div class="clearfix">
    <div class="float-left">
      <%= image_tag(Barby::DataMatrix.new(carrier.data_matrix(shipment)).to_image(xdim:2, margin:0).to_data_url) %>
    </div>
    <div class="float-left" style="margin-left:10px">
      <span style="font-size: 22px"><%= carrier.name %> <strong><%= shipment.shipping_method %></strong></span><br>
      <span style="font-size: 17px">
        Contrato: <%= carrier.carrier_setting.settings["contract"] %><br>
        Pedido: <%= shipment.order_number %><br>
      </span>
    </div>
    <div class="float-right text-right" style="margin-left:10px">
      <%= wicked_pdf_image_tag "/correios/#{shipment.shipping_method}.png", size: "60" %><br>
    </div>
    <div class="float-right">
      <span style="font-size: 17px">
        NF: <%= shipment.invoice_number %><br>
        Volume: <%= shipment.packages.index(package) + 1 %>/<%= total_packages %><br>
        Peso (g)
      </span>
    </div>
  </div>


  <% if shipment.tracking_number.present? %>
    <div class='text-center mt20'>
      <%= shipment.tracking_number %><br>
      <%= image_tag(Barby::Code128.new(shipment.tracking_number).to_image(xdim:2,height:80).to_data_url) %>
    </div>
  <% end %>

  <hr>

  <h4>DESTINATÁRIO</h4>
  <ul class="address">
    <li><%= shipment.first_name %> <%= shipment.last_name %></li>
    <li><%= shipment.street %>, <%= shipment.number %></li>
    <li><%= "#{shipment.complement}," if shipment.complement.present? %> <%= shipment.neighborhood %></li>
    <li><strong><%= shipment.zip %></strong> <%= shipment.city %> / <%= shipment.state %></li>

    <% if shipment.zip.present? %>
    <%= image_tag(Barby::Code128.new(shipment.zip.delete("^0-9")).to_image(xdim:2,height:80).to_data_url) %>
    <% end %>
  </ul>

  <hr>

  <h4>REMETENTE</h4>
  <% account = shipment.account %>
  <ul class="address sender-address">
    <li><%= account.name %></li>
    <li><%= account.street %>, <%= account.number %></li>
    <li><%= "#{account.complement}," if account.complement.present? %> <%= account.neighborhood %></li>
    <li><strong><%= account.zip %></strong> <%= account.city %> / <%= account.state %></li>
  </ul>
</div>
