<%= form_for(shipment, html: { multipart: true }) do |form| %>

<div class="row">
  <div class="col-md-6">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envio
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__body">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Número do envio</label>
                  <%= form.text_field :shipment_number, class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Número do pedido</label>
                  <%= form.text_field :order_number, class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Status</label>
                  <%= form.select(:status, shipment_statuses_for_select, {}, class: 'form-control') %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <%= form.label 'Conta' %>
                  <%= form.select(:account_id, Account.all.pluck(:name, :id), {}, class: 'form-control') %> <!-- REFACTOR >> create helper options_for_account? -->
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Série da nota fiscal</label>
                  <%= form.number_field :invoice_series, class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Número da nota fiscal</label>
                  <%= form.number_field :invoice_number, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Valor</label>
                  <%= form.number_field :cost, class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Xml da nota fiscal</label>
                  <% if @shipment.invoice_xml %>
                  <%= form.hidden_field :invoice_xml  if @shipment.invoice_xml %>
                  <p class="form-control" id="invoice-selected">
                    Nota <%= "#{@shipment.invoice_series}_#{@shipment.invoice_number}" %>
                    <%= link_to "Alterar", "javascript:;", class: "kt-link float-right", id:'toggle-file-field' %>
                  </p>
                  <% end %>
                  <%= file_field_tag :invoice_xml, class: "form-control", style: "#{'display: none' if @shipment.invoice_xml.present?}" %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Transportadora
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__body">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <%= form.label 'Transportadora' %>
                  <%= form.select(:carrier_class, carriers_for_select, {}, class: 'form-control', required:true) %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <%= form.label 'Método de envio' %>
                  <%= form.select(:shipping_method, [], {}, class: 'form-control') %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Rastreio</label>
                  <%= form.text_field :tracking_number, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Datas & prazos
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__body">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Aprovado em</label>
                  <%= form.datetime_field :approved_at, class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Dias de handling</label>
                  <%= form.number_field :handling_days_planned, class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Dias de transporte</label>
                  <%= form.number_field :carrier_delivery_days_planned, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Destinatário
          </h3>
        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Nome</label>
                <%= form.text_field :first_name, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Sobrenome</label>
                <%= form.text_field :last_name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Email</label>
                <%= form.text_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Telefone</label>
                <%= form.text_field :phone, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>CPF</label>
                <%= form.text_field :cpf, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>

          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label>Rua</label>
                <%= form.text_field :street, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>Número</label>
                <%= form.text_field :number, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Complemento</label>
                <%= form.text_field :complement, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Bairro</label>
                <%= form.text_field :neighborhood, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Cep</label>
                <%= form.text_field :zip, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Cidade</label>
                <%= form.text_field :city, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Estado</label>
                <%= form.text_field :state, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>País</label>
                <%= form.text_field :country, class: "form-control" %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= form.submit "Salvar", class:"btn btn-primary" %>
    <button type="reset" class="btn btn-secondary bg-white">Cancelar</button>
  </div>
</div>


<% end %>

<script>
  $("#toggle-file-field").click(function() {
    $("#invoice-selected").toggle();
    $("#invoice_xml").toggle();
  })
  $('#shipment_carrier_class').on('change', function() { update_shipping_method_field() });
  function update_shipping_method_field() {
    carriers_and_shipping_methods = <%= raw Carriers.shipping_methods.to_json %>;
    selected_carrier = $('#shipment_carrier_class option:selected').text();
    shipping_methods = shipping_methods[selected_carrier];
    $('#shipment_shipping_method').empty();
    $.each(shipping_methods, function (i, item) {
        $('#shipment_shipping_method').append($('<option>', {
            value: item,
            text : item,
        }));
    });
  }
  update_shipping_method_field();
  $("#shipment_shipping_method").val("<%= shipment.shipping_method %>");
</script>
