<%= form_for shipment do |form| %>

<div class="row">
  <div class="col-md-6">
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Destinatário
          </h3>
        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Nome</label>
                <%= form.text_field :recipient_first_name, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Sobrenome</label>
                <%= form.text_field :recipient_last_name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Email</label>
                <%= form.text_field :recipient_email, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Telefone</label>
                <%= form.text_field :recipient_phone, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>CPF</label>
                <%= form.text_field :recipient_cpf, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>

          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label>Rua</label>
                <%= form.text_field :recipient_street, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>Número</label>
                <%= form.text_field :recipient_number, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Complemento</label>
                <%= form.text_field :recipient_complement, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Bairro</label>
                <%= form.text_field :recipient_neighborhood, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Cep</label>
                <%= form.text_field :recipient_cep, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Cidade</label>
                <%= form.text_field :recipient_city, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Estado</label>
                <%= form.text_field :recipient_state, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>País</label>
                <%= form.text_field :recipient_country, class: "form-control" %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">

    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envio
          </h3>
        </div>
      </div>
      <!--begin::Form-->
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__body">
            <div class="form-group">
              <label>Número do envio</label>
              <%= form.text_field :shipment_number, class: "form-control" %>
            </div>
            <div class="form-group">
              <label>Número do pedido</label>
              <%= form.text_field :order_number, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label 'Conta' %>
              <%= form.select(:account_id, Account.all.pluck(:name,:id), {}, class: 'form-control') %>
            </div>
            <div class="form-group">
              <%= form.label 'Transportadora' %>
              <%= form.select(:carrier_name, Rails.configuration.carriers.map{|carrier| [carrier.display_name, carrier.id]}, {}, class: 'form-control') %>
            </div>
            <div class="form-group">
              <%= form.label 'Método de envio' %>
              <%= form.select(:shipping_method, [], {}, class: 'form-control') %>
            </div>
            <div class="form-group">
              <label>Série da nota fiscal</label>
              <%= form.number_field :invoice_series, class: "form-control" %>
            </div>
            <div class="form-group">
              <label>Número da nota fiscal</label>
              <%= form.number_field :invoice_number, class: "form-control" %>
            </div>
            <div class="form-group">
              <label>Valor</label>
              <%= form.number_field :cost, class: "form-control" %>
            </div>
          </div>

        </div>
      </div>

      <div class="kt-portlet__foot">
        <div class="kt-form__actions">
          <div class="row">
            <div class="col-lg-6">
              <%= form.submit "Salvar", class:"btn btn-primary" %>
              <button type="reset" class="btn btn-secondary">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      <!--end::Form-->
    </div>

  </div>
</div>


<% end %>

<script>
  update_shipping_method_field();

  $('#shipment_account_id').on('change', function() { update_shipping_method_field() });
  $('#shipment_carrier_name').on('change', function() { update_shipping_method_field() });

  function update_shipping_method_field() {
    selected_account = $('#shipment_account_id option:selected').text();
    selected_carrier = $('#shipment_carrier_name option:selected').text();
    accounts_and_shipping_methods = <%= raw @accounts_and_shipping_methods.to_json %>;
    items = accounts_and_shipping_methods[selected_account][selected_carrier];
    $('#shipment_shipping_method').empty();
    $.each(items, function (i, item) {
        $('#shipment_shipping_method').append($('<option>', {
            value: item[Object.keys(item)]['shipping_method_id'], // Get the value
            text : Object.keys(item)[0], // Key the key
        }));
    });
  }
</script>
