<%
case history.category
when 'status'
  icon_class = "flaticon-rotate kt-font-warning"
  event_type = "kt-timeline__item kt-timeline__item--warning"
when 'carrier'
  icon_class = "flaticon-paper-plane-1 kt-font-brand"
  event_type = "kt-timeline__item kt-timeline__item--brand"
end
%>

<div class="<%= event_type %>">
  <div class="kt-timeline__item-section">
    <div class="kt-timeline__item-section-border">
      <div class="kt-timeline__item-section-icon">
        <i class="<%= icon_class %>"></i>
      </div>
    </div>
    <span class="kt-timeline__item-datetime mr-3">
      <%= history.date.strftime("%d/%m/%Y %H:%M") if history.date %>
    </span>
  </div>
  <span class="kt-timeline__item-text">
    <%= history.description %>
    <a href="#" data-html="true" class="btn btn-sm btn-icon btn-clean btn-icon-md" rel="tooltip" title="<%= history.carrier_status_code %>: <%= history.bearpost_status %>">
      <i class="la la-question-circle"></i>
    </a>
  </span>
  <div class="kt-timeline__item-info"><i class="la la-user"></i>
    Atualizado por
    <% if history.user %>
    <%= history.user.try(:full_name) %>
    <% else %>
    <%= history.changed_by %>
    <% end %>
  </div>
</div>

<script>
$(function () {
  $("[rel=tooltip]").tooltip({html:true});
})
</script>
