<div class="row">
  <div class="col-xl-6">

    <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
      <tbody>
        <tr>
          <th style="width:150px">Nome</th>
          <td><%= @shipment.sender_first_name %></td>
        </tr>
        <tr>
          <th>Sobrenome</th>
          <td><%= @shipment.sender_last_name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= @shipment.sender_email %></td>
        </tr>
        <tr>
          <th>Telefone</th>
          <td><%= @shipment.sender_phone%></td>
        </tr>
        <tr>
          <th>CPF</th>
          <td><%= @shipment.sender_cpf%></td>
        </tr>
        <tr>
          <th>Rua</th>
          <td><%= @shipment.sender_street%></td>
        </tr>
        <tr>
          <th>Número</th>
          <td><%= @shipment.sender_number%></td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="col-xl-6">
    <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
      <tbody>

        <tr>
          <th style="width:150px">Complemento</th>
          <td><%= @shipment.sender_complement%></td>
        </tr>
        <tr>
          <th>Bairro</th>
          <td><%= @shipment.sender_neighborhood%></td>
        </tr>
        <tr>
          <th>Cep</th>
          <td><%= @shipment.sender_zip%></td>
        </tr>
        <tr>
          <th>Cidade</th>
          <td><%= @shipment.sender_city%></td>
        </tr>
        <tr>
          <th>Estado</th>
          <td><%= @shipment.sender_state%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
