<% content_for :subheader_title do %>
Envios
<% end %>

<% content_for :subheader_toolbar do %>

<%= link_to sync_ready_shipments_carriers_path, class: "btn btn-sm btn-secondary btn-label-brand" do %>
<i class="la la-truck"></i> Sincronizar pedidos
<% end %>

<%= link_to update_all_shipments_delivery_status_shipments_path, class: "btn btn-sm btn-secondary btn-label-brand" do %>
Atualizar status
<% end %>

<%= link_to "javascript:;", class: "btn btn-sm btn-secondary btn-label-brand", id:"update-selected-JS" do %>
  Marcar como a caminho
<% end %>

<div class="btn-group">
  <%= link_to new_shipment_path, class: "btn btn-primary" do %>
  <i class="la la-plus"></i>
  Novo envio
  <% end %>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split ml-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <h6 class="dropdown-header">Criar a partir de uma nota fiscal</h6>
    <%= form_for :invoice_xml, url: new_from_xml_shipments_path, html: {class: 'd-none'} do |f| %>
    <%= f.file_field :invoice_xml, id:"fileinput" %><br><br>
    <%= f.submit 'Enviar' %>
    <% end  %>
    <div class="px-4 py-3">
      <button type="submit" id="filebutton" class="btn btn-default btn-bold btn-font-sm btn-upper">Selecionar Arquivo</button>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envios recentes
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-wrapper">

          </div>
        </div>
      </div>

      <div class="kt-portlet__body">
        <%= form_with(url: shipments_path, method: "get", local: true) do  %>
        <div class="row">
          <div class="col-md-4">
            <label>Busca rápida:</label>
            <div class="kt-input-icon kt-input-icon--left">
              <%= text_field_tag :search,params[:search],class:"form-control" %>
              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                <span><i class="la la-search"></i></span>
              </span>
            </div>
          </div>

          <div class="col-md-2">
            <label>Transportadora</label>
            <%= select_tag(:carrier, options_for_select(carriers_for_select.prepend(['Todas',nil]), selected: params[:carrier]), class:"form-control selectpicker") %>
          </div>

          <div class="col-md-2">
            <label>Status</label>
            <%= select_tag(:status, options_for_select(shipment_statuses_for_select.prepend(['Todos',nil]), selected: params[:status]), class:"form-control selectpicker") %>
          </div>

          <div class="col-md-2">
            <label>Data</label>
            <div class="input-group" id="kt_daterangepicker_2">
              <%= text_field_tag :date_range, params[:date_range], class:"form-control" %>
              <div class="input-group-append">
                <span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label>&nbsp;</label>
            <%= submit_tag 'Filtrar', name:nil, class:'form-control btn btn-default' %>
          </div>
        </div>
        <% end %>

        <div class="kt-form kt-fork--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
          <div class="row align-items-center">
            <div class="col-xl-12">
              <div class="kt-form__group kt-form__group--inline">
                <div class="kt-form__label kt-form__label-no-wrap">
                  <label class="kt--font-bold kt--font-danger-">
                    <span id="kt_datatable_selected_number">0</span> envios selecionados:
                  </label>
                </div>
                <div class="kt-form__control">
                  <div class="btn-toolbar">
                    <div class="dropdown">
                      <button type="button" class="btn btn-sm btn-accent dropdown-toggle" data-toggle="dropdown">
                        Atualizar status
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item set-status-JS" data-status="pending" href="javascript:;">Pendente</a>
                        <a class="dropdown-item set-status-JS" data-status="ready"   href="javascript:;">Pronto para envio</a>
                        <a class="dropdown-item set-status-JS" data-status="shipped" href="javascript:;">Enviado</a>
                      </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <!-- <button class="btn btn-sm btn-metal" type="button" id="">Placeholder</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-datatable kt-datatable--default">
          <table class="table table-hover kt-table">
            <thead>
              <tr>
                <th style="width:50px"><label class="kt-checkbox kt-checkbox--solid p-0 m-0"><input type="checkbox" id="select-all-JS">&nbsp;<span></span></label></th>
                <th>Envio</th>
                <th>Pedido</th>
                <th>Transportadora</th>
                <th>Destinatário</th>
                <th>Cidade</th>
                <th>Envio</th>
                <th>Entrega</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @shipments.each do |shipment| %>
              <tr>
                <td><label class="kt-checkbox kt-checkbox--solid p-0 m-0"><input type="checkbox" value="<%= shipment.id %>">&nbsp;<span></span></label></td>
                <td><%= link_to shipment.shipment_number, shipment_path(shipment), class: "kt-link" %></td>
                <td><%= shipment.order_number %></td>
                <td><%= shipment.carrier.name %> <%= shipment.shipping_method %></td>
                <td><%= shipment.full_name %></td>
                <td><%= shipment.city %>, <%= shipment.state %></td>
                <td><%= shipment.shipped_at.try(:strftime,"%d/%m/%Y") %></td>
                <td><%= shipment.delivered_at.try(:strftime,"%d/%m/%Y") %></td>
                <td><%= status_label(shipment.status) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="kt-datatable kt-datatable--default">
        <div class="kt-datatable__pager kt-datatable--paging-loaded">
          <%= paginate @shipments %>
          <span class="float-right m-2">
            <%= page_entries_info(@shipments, entry_name: 'envios')%>
          </span>
        </div>
      </div>

  </div>
</div>

<script>
$('#filebutton').click(function(e){
  e.preventDefault();
  $('#fileinput').click();
});

$('#fileinput').change(function(){
  $(this).parent('form').submit();
});

$('#update-selected-JS').click(function(){
  $.each($(".kt-checkbox input:checked").not("#select-all-JS"), function(){
    $.ajax({
      type: "PATCH",
      url:  "/shipments/" + $(this).val(),
      data: { shipment: {status: 'On the way'} },
      dataType: 'json'
    });
  });
  $(document).ajaxStop(function () {
    location.reload();
  });
})


$("#select-all-JS").change(function() {
    if(this.checked) {
      $('input:checkbox').prop('checked', true);
    } else {
      $('input:checkbox').prop('checked', false);
    }
});

$(document).ready(function() {
  $('#kt_daterangepicker_2').daterangepicker({
    startDate: moment().subtract(29, 'days'),
    endDate: moment(),
    ranges: {
      'Hoje': [moment(), moment()],
      'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
      'Ultimos 30 Days': [moment().subtract(29, 'days'), moment()],
    },
    locale: { customRangeLabel: 'Personalizado' },
    opens: 'left',
    buttonClasses: 'btn btn-sm',
    applyClass: 'btn-primary',
    cancelClass: 'btn-secondary'
  }, function(start, end, label) {
    $('#kt_daterangepicker_2 .form-control').val( start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
  });
});

$(document).on('turbolinks:load', function () {
  $('.selectpicker').each(function (i, el) {
    if (!$(el).parent().hasClass('bootstrap-select')) {
      $(el).selectpicker('refresh');
    }
  });
});
</script>
