<% content_for :subheader_title do %>
Envios
<% end %>

<% content_for :subheader_toolbar do %>

<%= link_to update_all_shipments_delivery_status_shipments_path, class: "btn btn-sm btn-secondary btn-label-brand" do %>
<i class="la la-rotate-right"></i> Atualizar status
<% end %>

<div class="btn-group">
  <%= link_to new_shipment_path, class: "btn btn-primary" do %>
  <i class="la la-plus"></i>
  Novo envio
  <% end %>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split ml-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <h6 class="dropdown-header">Criar a partir de uma nota fiscal</h6>
    <%= form_for :invoice_xml, url: new_from_xml_shipments_path, html: {class: 'd-none'} do |f| %>
    <%= f.file_field :invoice_xml, id:"fileinput" %><br><br>
    <%= f.submit 'Enviar' %>
    <% end  %>
    <div class="px-4 py-3">
      <button type="submit" id="filebutton" class="btn btn-default btn-bold btn-font-sm btn-upper">Selecionar Arquivo</button>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <%= render "shared/shipment_search_bar", path: shipments_path %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">

      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envios recentes
          </h3>
        </div>
      </div>

      <div class="collapse px-4 pt-4" id="selected_shipments_actions">
        <div>
          <span class="mx-2"><span id="selected_amount"></span> envios selecionados:</span>
          <%= link_to "javascript:;", class: "btn btn-sm btn-secondary btn-label-brand", id:"transmit-selected-JS" do %>
          <i class="la la-upload"></i> Transmitir para transportadora
          <% end %>
          <%= link_to "javascript:;", class: "btn btn-sm btn-secondary btn-label-brand", id:"update-selected-JS" do %>
          <i class="flaticon2-delivery-truck"></i> Marcar como a caminho
          <% end %>
        </div>
      </div>

      <div class="kt-portlet__body kt-portlet__body--fit mt-4">
        <div class="kt-datatable kt-datatable--default">
          <table class="table table-hover kt-table">
            <thead>
              <tr>
                <th style="width:50px"><label class="kt-checkbox kt-checkbox--solid p-0 m-0"><input type="checkbox" id="select-all-JS">&nbsp;<span></span></label></th>
                <th>Envio</th>
                <th>Pedido</th>
                <th>Transportadora</th>
                <th>Destinatário</th>
                <th>Cidade</th>
                <th>Envio</th>
                <th>Entrega</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @shipments.each do |shipment| %>
              <tr>
                <td><label class="kt-checkbox kt-checkbox--solid p-0 m-0"><input type="checkbox" name="shipment_ids[]" value="<%= shipment.id %>">&nbsp;<span></span></label></td>
                <td><%= link_to shipment.shipment_number, shipment_path(shipment), class: "kt-link" %></td>
                <td><%= shipment.order_number %></td>
                <td><%= shipment.carrier.name %> <%= shipment.shipping_method %></td>
                <td><%= shipment.full_name %></td>
                <td><%= shipment.city %>, <%= shipment.state %></td>
                <td><%= shipment.shipped_at.try(:strftime,"%d/%m/%Y") %></td>
                <td><%= shipment.delivered_at.try(:strftime,"%d/%m/%Y") %></td>
                <td><%= status_label(shipment.status) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="kt-datatable kt-datatable--default">
        <div class="kt-datatable__pager kt-datatable--paging-loaded">
          <%= paginate @shipments %>
          <span class="float-right m-2">
            <%= page_entries_info(@shipments, entry_name: 'envios')%>
          </span>
        </div>
      </div>

    </div>
  </div>

  <script>
    // Script to make select XML button work as a form
    $('#filebutton').click(function(e){
      e.preventDefault();
      $('#fileinput').click();
    });
    $('#fileinput').change(function(){
      $(this).parent('form').submit();
    });

    $('#transmit-selected-JS').click(function(){
      path = "<%= transmit_shipments_to_carriers_shipments_path %>"
      params = $("input[name='shipment_ids[]']:checked").serialize()
      window.location.href = path + "?" + params
      // $.ajax({
      //   type: "GET",
      //   url:  "<%= transmit_shipments_to_carriers_shipments_path %>",
      //   data: $("input[name='shipment_ids[]']:checked").serialize()
      // });
    })

    $('#update-selected-JS').click(function(){
      $.each($(".kt-checkbox input:checked").not("#select-all-JS"), function(){
        $.ajax({
          type: "PATCH",
          url:  "/shipments/" + $(this).val(),
          data: { shipment: {status: 'On the way'} },
          dataType: 'json'
        });
      });
      $(document).ajaxStop(function () {
        location.reload();
      });
    })


    $("#select-all-JS").change(function() {
      if(this.checked) {
        $('input:checkbox').prop('checked', true);
      } else {
        $('input:checkbox').prop('checked', false);
      }
      showSelectedOptions()
    });

    // Select handler
    $('input:checkbox').not("#select-all-JS").change(showSelectedOptions)

    function showSelectedOptions() {
      count = $('input:checkbox:checked').not("#select-all-JS").length;
      $('#selected_amount').html(count);
      if (count > 0) {
        $('#selected_shipments_actions').collapse('show');
      } else {
        $('#selected_shipments_actions').collapse('hide');
      }
    }

    $(document).on('turbolinks:load', function () {
      $('.selectpicker').each(function (i, el) {
        if (!$(el).parent().hasClass('bootstrap-select')) {
          $(el).selectpicker('refresh');
        }
      });
    });
  </script>
