<% content_for :subheader_title do %>
Envios
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envios recentes
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-wrapper">
            <div class="mr-2">
              <div class="kt-input-icon kt-input-icon--left">
                <input type="text" class="form-control" placeholder="" id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>


            <div class="btn-group">
              <%= link_to new_shipment_path, class: "btn btn-primary" do %>
              <i class="la la-plus"></i>
              Novo envio
              <% end %>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <h6 class="dropdown-header">Criar a partir de uma nota fiscal</h6>
                <%= form_for :invoice_xml, url: new_from_xml_shipments_path, html: {class: 'd-none'} do |f| %>
                <%= f.file_field :invoice_xml, id:"fileinput" %><br><br>
                <%= f.submit 'Enviar' %>
                <% end  %>
                <div class="px-4 py-3">
                  <button type="submit" id="filebutton" class="btn btn-primary btn-sm btn-upper">Selecionar Arquivo</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="kt_datatable"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('#filebutton').click(function(e){
  e.preventDefault();
  $('#fileinput').click();
});
$('#fileinput').change(function(){
  $(this).parent('form').submit();
});
</script>


<script>

var KTDatatableDataLocalDemo = function() {
  // Private functions

  // demo initializer
  var demo = function() {

    var dataJSONArray = <%= raw @shipments.to_json %>;

    var datatable = $('.kt_datatable').KTDatatable({
      // datasource definition
      data: {
        type: 'local',
        source: dataJSONArray,
        pageSize: 10,
      },

      // layout definition
      layout: {
        scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
        // height: 450, // datatable's body's fixed height
        footer: false, // display/hide footer
      },

      // column sorting
      sortable: true,

      pagination: true,

      search: {
        input: $('#generalSearch'),
      },

      // columns definition
      columns: [
        {
          field: 'id',
          title: '#',
          sortable: false,
          width: 10,
          type: 'number',
          selector: {class: 'kt-checkbox--solid'},
          textAlign: 'center',
        }, {
          field: 'shipment_number',
          title: 'Envio',
          template: function(row) {
            return `<a href="/shipments/${row.id}" class="kt-link">${row.shipment_number}</a>`;
          },
        }, {
          field: 'order_number',
          title: 'Pedido',
        }, {
          field: 'recipient_last_name',
          title: 'Nome',
          template: function(row) {
            return row.recipient_first_name + ' ' + row.recipient_last_name;
          },
        }, {
          field: 'recipient_city',
          title: 'Cidade',
          template: function(row) {
            return row.recipient_city + ' - ' + row.recipient_state;
          },
        }, {
          field: 'created_at',
          title: 'Criado em',
          type:  'datetime',
          format: 'YYYY-MM-DD HH:mm:ss',
          template: function(row) {
            var date = new Date(row.created_at);
            var formattedDate = moment(date).format('DD/MM/YYYY HH:mm');
            return formattedDate;
          },
        }, {
          field: 'status',
          title: 'Status',
          // callback function support for column rendering
          template: function(row) {
            var status = {
              'pending': {'title': 'Pendente', 'class': 'kt-badge--metal'},
              'shipped': {'title': 'Enviado', 'class': ' kt-badge--success'},
              'ready':   {'title': 'Pronto', 'class': ' kt-badge--brand'},
              'canceled': {'title': 'Canceled', 'class': ' kt-badge--warning'},
            };
            if (row.status != null && status[row.status] != undefined) {
              return '<span class="kt-badge ' + status[row.status].class + ' kt-badge--inline kt-badge--pill">' + status[row.status].title + '</span>';
            }
            else {
              return '';
            }
          },
        }, {
          field: 'Actions',
          title: '',
          sortable: false,
          width: 110,
          overflow: 'visible',
          autoHide: false,
          template: function(row) {
            let buttons =
            `<a href="/shipments/${row.id}/edit" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Editar">
             <i class="la la-edit"></i>
             </a>
             <a data-confirm="Apagar o envio?" class="btn btn-sm btn-clean btn-icon btn-icon-md" rel="nofollow" data-method="delete" href="/shipments/${row.id}" title="Apagar">
             <i class="la la-trash"></i>
             </a>`
            return buttons;
          },
        }],
      });

      $('#kt_form_status').on('change', function() {
        datatable.search($(this).val().toLowerCase(), 'status');
      });

      $('#kt_form_type').on('change', function() {
        datatable.search($(this).val().toLowerCase(), 'type');
      });

      $('#kt_form_status,#kt_form_type').selectpicker();

    };

    return {
      // Public functions
      init: function() {
        // init dmeo
        demo();
      }
    };
  }();

  jQuery(document).ready(function() {
    KTDatatableDataLocalDemo.init();
  });

</script>
