<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Envios
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-wrapper">
            <%= link_to new_shipment_path, class: "btn btn-brand btn-bold btn-upper btn-font-sm" do %>
              <i class="la la-plus"></i>
              Novo envio
            <% end %>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <table class="table table-hover table-head-noborder">
            <thead>
              <tr>
                <th>#</th>
                <th>Cidade</th>
                <th>Nome</th>
                <th>Enviado em</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @shipments.each do |shipment| %>
              <tr>
                <td><%= link_to shipment.shipment_number, shipment %></td>
                <td><%= shipment.recipient_city %></td>
                <td><%= shipment.full_name %></td>
                <td><%= shipment.shipped_at.try(:to_date) %></td>
                <td><%= shipment.status %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
