<style>
.debug_dump {
  font-size: 13px;
  color: #646c9a;
}
</style>

<% content_for :subheader_title do %>
  Envio #<%= @shipment.shipment_number %>
<% end %>

<%= content_for :subheader_toolbar do %>

  <%= link_to get_labels_shipment_path(format: :pdf), class: "btn btn-sm btn-secondary btn-label-brand", target:'_blank' do %>
  <i class="la la-print"></i> Imprimir etiquetas
  <% end %>

  <%= link_to "Editar", edit_shipment_path, class: "btn btn-sm btn-elevate btn-brand btn-elevate" %>

  <div class="btn-group">
    <button type="button" class="btn btn-pill btn-outline-brand btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opções
    </button>
    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(86px, 33px, 0px);">
      <%= link_to "Marcar como enviado", set_as_shipped_shipment_path, class: "dropdown-item", method:'post' %>
      <%= link_to "Informações adicionais", "#", class: "dropdown-item", "data-toggle" => "modal", 'data-target' => '#extraInfoModal' %>
      <div class="dropdown-divider"></div>
      <% @carrier.shipment_menu_links.each do |text, path| %>
      <%= link_to text, path.gsub(/:id/,"#{@shipment.id}"), class: "dropdown-item", method: :post %>
      <% end %>
    </div>
  </div>

<% end %>

<!-- Modal de Informações Adicionais-->
<div class="modal fade" id="extraInfoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informações adicionais</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <%= ap(@shipment.settings,plain: true, indent: 0).html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal do XML -->
<div class="modal fade" id="invoiceXmlModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">XML da Nota Fiscal</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <pre class="debug_dump">
          <%= Nokogiri::XML(@shipment.invoice_xml).to_xml(:indent => 2, :encoding => 'UTF-8') %>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Geral
          </h3>
          <span class="ml-3"><%= status_label(@shipment.status) %></span>

        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="col-md-5 float-left">
            <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
              <tbody>
                <tr>
                  <th>Número do pedido</th>
                  <td><%= @shipment.order_number %></td>
                </tr>
                <tr>
                  <th>Conta</th>
                  <td><%= @shipment.account.name if @shipment.account %></td>
                </tr>
                <tr>
                  <th>Transportadora</th>
                  <td><%= link_to @carrier.name, edit_carrier_path(@carrier.class), class: "kt-link" if @carrier %></td>
                </tr>
                <tr>
                  <th>Método de envio</th>
                  <td><%= @shipment.shipping_method %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5 float-left">
            <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
              <tbody>
                <tr>
                  <th>Nota fiscal / série</th>
                  <td><%= link_to "#{@shipment.invoice_number} / #{@shipment.invoice_series}", "#", "data-toggle" => "modal", 'data-target' => '#invoiceXmlModal', class: "kt-link" %></td>
                </tr>
                <tr>
                  <th>Rastreamento</th>
                  <td>
                    <% if @shipment.tracking_number.present? %>
                      <%= link_to @shipment.tracking_number, @shipment.tracking_url, class: "kt-link", id:"tracking-url", target: "_blank" %>
                    <% else %>
                      <%= link_to "Obter rastreio", get_tracking_number_shipment_path, class: "kt-link" %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Nota Fiscal</th>
                  <td><%= link_to 'Ver XML', "#", "data-toggle" => "modal", 'data-target' => '#invoiceXmlModal', class: "kt-link" %></td>
                </tr>
                <tr>
                  <th>Sincronizado</th>
                  <td>
                  <% if @shipment.sent_to_carrier %>
                    Sim <i class="la la-check-circle"></i>
                  <% else %>
                    <%= link_to "Não", send_to_carrier_shipment_path, class: "kt-link" , method:'post' %>
                  <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Destinatário
          </h3>
        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="row">
            <div class="col-xl-6">

              <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
                <tbody>
                  <tr>
                    <th style="width:150px">Nome</th>
                    <td><%= @shipment.full_name %></td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td><%= @shipment.email %></td>
                  </tr>
                  <tr>
                    <th>Telefone</th>
                    <td><%= @shipment.phone %></td>
                  </tr>
                  <tr>
                    <th>CPF</th>
                    <td><%= @shipment.cpf %></td>
                  </tr>
                  <tr>
                    <th>Rua</th>
                    <td><%= @shipment.street %></td>
                  </tr>
                  <tr>
                    <th>Número</th>
                    <td><%= @shipment.number %></td>
                  </tr>
                </tbody>
              </table>


            </div>
            <div class="col-xl-6">
              <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
                <tbody>

                  <tr>
                    <th style="width:150px">Complemento</th>
                    <td><%= @shipment.complement %></td>
                  </tr>
                  <tr>
                    <th>Bairro</th>
                    <td><%= @shipment.neighborhood %></td>
                  </tr>
                  <tr>
                    <th>Cep</th>
                    <td><%= @shipment.zip %></td>
                  </tr>
                  <tr>
                    <th>Cidade</th>
                    <td><%= @shipment.city %></td>
                  </tr>
                  <tr>
                    <th>Estado</th>
                    <td><%= @shipment.state %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    <% total_shipments = @shipment.packages.size %>
    <div class="row">

      <% @shipment.packages.each do |package| %>
      <div class="col-md-6">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                </i> Pacote <%= @shipment.packages.index(package) + 1 %>
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <%= link_to "Editar", edit_package_path(package), class: "float-right kt-link" %>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-portlet__content">
              <%= render 'packages/table', package: package %>
            </div>
          </div>
        </div>
      </div>

      <% end %>
    </div>


    <%= link_to new_package_path(shipment_id:@shipment.id), class: "p-5 btn btn-light btn-elevate-hover btn-square fill-div" do %>
    <i class="flaticon2-plus"></i> Novo pacote
    <% end %>
  </div><!-- End of first column -->

  <div class="col-md-4">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Histórico
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <%= link_to save_delivery_updates_shipment_path, class: "btn btn-sm btn-outline-brand btn-elevate btn-circle btn-icon", method:'post' do %>
            <i class="la la-refresh"></i>
          <% end %>
        </div>
      </div>
      <div class="kt-portlet__body">
        <!--Begin::Timeline -->
        <div class="kt-timeline">
          <% @shipment.histories.recent_first.each do |history| %>
            <%= render 'history', history: history %>
          <% end %>
        </div>
        <!--End::Timeline -->
      </div>
    </div>
  </div>
</div>

<script>
$( document ).on('turbolinks:load', function() {
  new ClipboardJS('.clipboard-btn', {
    text: function(trigger) {
      return $("#tracking-url").attr('href');
    }
  });
});
</script>
