<style>
.debug_dump {
  font-size: 13px;
  color: #646c9a;
}
.edit-status .alter-status {
  display: none;
}
.edit-status:hover .alter-status{
  display: inline-flex;
}
.edit-status:hover .current-status{
  display: none;
}
</style>

<% content_for :subheader_title do %>
  Envio #<%= @shipment.shipment_number %>
<% end %>

<%= content_for :subheader_toolbar do %>

  <%= link_to get_labels_shipment_path(format: :pdf), class: "btn btn-sm btn-secondary btn-label-brand", target:'_blank' do %>
  <i class="la la-print"></i> Imprimir etiquetas
  <% end %>

  <%= link_to "Editar", edit_shipment_path, class: "btn btn-sm btn-elevate btn-brand btn-elevate" %>

  <div class="btn-group">
    <button type="button" class="btn btn-pill btn-outline-brand btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opções
    </button>
    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(86px, 33px, 0px);">
      <%= link_to "Transmitir para a transportadora", transmit_shipment_to_carrier_shipment_path, class: "dropdown-item" , method:'post' %>
      <div class="dropdown-divider"></div>
      <%= link_to "Informações adicionais", "#", class: "dropdown-item", "data-toggle" => "modal", 'data-target' => '#extraInfoModal' %>
      <% @carrier.shipment_menu_links.each do |text, path| %>
      <%= link_to text, path.gsub(/:id/,"#{@shipment.id}"), class: "dropdown-item", method: :post %>
      <% end %>
    </div>
  </div>

  <% end %>

  <div class="row">
    <div class="col-md-8">

      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              Geral
            </h3>
            <%= link_to "#", "data-toggle" => "modal", 'data-target' => '#statusesModal', class: "ml-3 edit-status" do %>
            <span class="current-status"><%= status_label(@shipment.status) %></span>
            <span class='kt-badge badge-light kt-badge--inline kt-badge--pill alter-status'><nobr>Alterar status</nobr></span>
            <% end %>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="kt-portlet__content">
            <div class="float-left" style="width: 45%;">
              <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
                <tbody>
                  <tr>
                    <th>Número do pedido</th>
                    <td><%= link_to @shipment.order_number, @shipment.external_order_url, class: "kt-link", target:'_blank' %></td>
                  </tr>
                  <tr>
                    <th>Conta</th>
                    <td><%= @shipment.account.name if @shipment.account %></td>
                  </tr>
                  <tr>
                    <th>Nota fiscal / série</th>
                    <td><%= link_to "#{@shipment.invoice_number} / #{@shipment.invoice_series}", "#", "data-toggle" => "modal", 'data-target' => '#invoiceXmlModal', class: "kt-link" %></td>
                  </tr>
                  <tr>
                    <th>Aprovação do pedido</th>
                    <td><%= l(@shipment.approved_at, format: :week_day_with_time) if @shipment.approved_at %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="float-left" style="width: 45%;">
              <table class="table table-borderless table-sm table-hover" style="color: #646c9a;">
                <tbody>
                  <tr>
                    <th>Transportadora</th>
                    <td><%= link_to @carrier.name, edit_carrier_path(@carrier.name), class: "kt-link" if @carrier %></td>
                  </tr>
                  <tr>
                    <th>Método de envio</th>
                    <td><%= @shipment.shipping_method %></td>
                  </tr>
                  <tr>
                    <th>Rastreamento</th>
                    <td>
                      <% if @shipment.tracking_number.present? %>
                      <%= link_to @shipment.tracking_number, @shipment.tracking_url, class: "kt-link", id:"tracking-url", target: "_blank" %>
                      <% else %>
                      <%= link_to "Obter rastreio", save_tracking_number_shipment_path, class: "kt-link" %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>Transmitido</th>
                    <td>
                      <% if @shipment.sent_to_carrier %>
                      Sim <i class="la la-check-circle"></i>
                      <% else %>
                      <%= link_to "Transmitir", transmit_shipment_to_carrier_shipment_path, class: "kt-link" , method:'post' %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Start of datas e prazos -->
        <div class="col-md-6">
          <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Datas & Prazos
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="kt-portlet__content">
                <strong>Envio</strong></p>
                <div class="row">
                  <div class="col-md-5">
                    Previsto <br>
                    <%= expected_shipping_info(@shipment) %>
                  </div>
                  <div class="col-md-6">
                    Realizado <br>
                    <%= realized_shipping_info(@shipment) %>
                  </div>
                  <div class="col-md-1">
                    <%= delivery_icon(@shipment, "handling") %>
                  </div>
                </div>
                <hr>

                <p><strong>Transportadora</strong></p>
                <div class="row">
                  <div class="col-md-5">
                    Previsto <br>
                    <%= expected_carrier_delivery_info(@shipment) %>
                  </div>
                  <div class="col-md-6">
                    Realizado <br>
                    <%= realized_carrier_delivery_info(@shipment) %>
                  </div>
                  <div class="col-md-1">
                    <%= delivery_icon(@shipment, "carrier_delivery") %>
                  </div>
                </div>
                <hr>

                <p><strong>Cliente</strong></p>
                <div class="row">
                  <div class="col-md-5">
                    Previsto <br>
                    <%= expected_client_delivery_info(@shipment) %>
                  </div>
                  <div class="col-md-6">
                    Realizado <br>
                    <%= realized_client_delivery_info(@shipment) %>
                  </div>
                  <div class="col-md-1">
                    <%= delivery_icon(@shipment, "client_delivery") %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End of datas e prazos -->

        <!-- Start of Destinatário -->
        <div class="col-md-6">
          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Destinatário
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="kt-portlet__content">
                <div style="line-height: 1.7;">
                  <p>
                    <strong><%= @shipment.full_name.titleize %></strong><br>
                  </p>
                  <p>
                    CPF <%= @shipment.cpf %><br>
                    <%= @shipment.email %><br>
                    <%= @shipment.phone %><br>
                  </p>
                  <p>
                    <%= @shipment.street %>, <%= @shipment.number %><br>
                    <%= @shipment.complement %><br>
                    <%= @shipment.city %>, <%= @shipment.state %> <%= @shipment.zip %><br>
                    <%= @shipment.country %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Destinatário -->

      </div>

      <% total_shipments = @shipment.packages.size %>
      <div class="row">
        <% @shipment.packages.each do |package| %>
        <div class="col-md-6">
          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                </i> Pacote <%= @shipment.packages.index(package) + 1 %>
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <%= link_to "Editar", edit_package_path(package), class: "float-right kt-link" %>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-portlet__content">
              <%= render 'packages/table', package: package %>
            </div>
          </div>
        </div>
      </div>

      <% end %>
    </div>


    <%= link_to new_package_path(shipment_id:@shipment.id), class: "p-5 btn btn-light btn-elevate-hover btn-square fill-div" do %>
    <i class="flaticon2-plus"></i> Novo pacote
    <% end %>
  </div><!-- End of first column -->

  <div class="col-md-4">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Histórico
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <%= link_to save_delivery_updates_shipment_path, class: "btn btn-sm btn-outline-brand btn-elevate btn-circle btn-icon", method:'post' do %>
          <i class="la la-refresh"></i>
          <% end %>
        </div>
      </div>
      <div class="kt-portlet__body">
        <!--Begin::Timeline -->
        <div class="kt-timeline">
          <% @shipment.histories.recent_first.each do |history| %>
          <%= render 'history', history: history %>
          <% end %>
        </div>
        <!--End::Timeline -->
      </div>
    </div>
  </div>
</div>



<!-- Modal de Informações Adicionais-->
<div class="modal fade" id="extraInfoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informações adicionais</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <%= ap(@shipment.settings,plain: true, indent: 0).html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal do XML -->
<div class="modal fade" id="invoiceXmlModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">XML da Nota Fiscal</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <pre class="debug_dump">
          <%= Nokogiri::XML(@shipment.invoice_xml).to_xml(:indent => 2, :encoding => 'UTF-8') %>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de edição de status -->
<div class="modal fade" id="statusesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecione o novo status</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <% Shipment.statuses.each do |status| %>
        <%= link_to shipment_path(@shipment, shipment: {status: status}), method:'patch' do %>
        <div class="my-3"><%= status_label(status) %></div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$( document ).on('turbolinks:load', function() {
  new ClipboardJS('.clipboard-btn', {
    text: function(trigger) {
      return $("#tracking-url").attr('href');
    }
  });
});
</script>
